server:
  port: 80

infrastructure:
  tls:
    key-store-type: pkcs12
    key-store: src/main/resources/keystore.p12
    key-store-password: imperio
    ca: src/main/resources/ca.p12
    ca-password: ${tls_pass}
  instances:
    host: https://gateway.imperio
    service: imperio-gateway
    port: 443
  linode-services:
    host: https://linodeservices.imperio
    service: imperio-linode-services
    port: 443
  auth:
    port: 8080

spring:
  application:
    name: imperio-instances
  main:
    allow-bean-definition-overriding: true
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: create-drop
  r2dbc:
    url: r2dbc:postgres://10.43.230.146:5432/imperio
    name: imperio
    username: postgres
    password: ${pg_pass}
    pool:
      initial-size: 10
      enabled: false
      validation-depth: local
  task:
    execution:
      pool:
        allow-core-thread-timeout: true
        core-size: 8
  devtools:
    restart:
      enabled: false

management:
  server:
    port: 80
    ssl:
      enabled: false
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      probes:
        enabled: true
      enabled: true
